#ignore all
*
#contain self
!.gitignore
#start adding
!/etc/
!/etc/systemd/
!/etc/systemd/logind.conf
!/etc/systemd/journald.conf
!/etc/systemd/network/
!/etc/systemd/network/*
!/etc/luarocks/
!/etc/luarocks/*
